@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #1c5eec;
    --cor-secundaria: #1e72d3;
    --cor-destaque: #f13737;
   
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 800;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 800;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
.bg-secondary {
    background-color: var(--cor-principal); 
    color: rgb(241, 228, 33);
    font-weight: 600;
    padding: 0.5em 1em;
    margin: 0.3em;
    border-radius: 1em;
    font-size: 0.9rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}
    .bg-secondary:hover {
        background-color: var(--cor-destaque); 
        color: #7318db;
    }
